@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');


* {
    box-sizing: border-box;
}


body {
    font-family: 'Jersey 25', sans-serif;
    text-align: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: burlywood;
}

.screen-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.screen {
  transform: scale(1.6);
  transform-origin: center;
}

.coin {
    max-height: 6rem;
}

.btn {
    border: 0;
    padding: 15px 20px;
    font-family: inherit;
    cursor: pointer;
    background-color: white;
    color: goldenrod;
}

.btn:hover {
    opacity: 0.8;
}

.screen.up {
    margin-top: -100vh;
}